<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- TITLE -->
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/2374bdec1c.css">
    <link rel="stylesheet" href="./archived.css" />
  </head>

  <body>

    <header class="header">
      <div class="title-span">
        <h1 class="site-title">
          <img src="images/site-logo.png" height="40" alt="<!-- JUST_SITE_TITLE -->" id="site-logo">
        </h1>
      </div>
    </header>

    <div class="main">
      <div class="archive-span"><!-- ARCHIVE_BLURB --></div>
      <div class="topics">
        <div class="header-row">
          <span class="topic-head">Topics</span>
          <span class="category-head">Category</span>
          <span class="post-count-head">Posts</span>
        </div>
        <!-- TOPIC_LIST -->
      </div>
    </div>
  </body>
</html>