<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title><!-- TOPIC_TITLE --></title>
    <link rel="stylesheet" href="../../../archived.css" />
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\\\(','\\\\)']]}});
    </script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  </head>

  <body>
    <header class="header">
      <div class="title-span">
        <a href="../../../">
          <img src="../../../images/site-logo.png" height="40" alt="<!-- JUST_SITE_TITLE -->" id="site-logo" />
        </a>
      </div>
    </header>

    <div class="main">
    <div class="archive-span"><!-- ARCHIVE_BLURB --></div>
    <h1 class="topic-title"><!-- TOPIC_TITLE --></h1>
      <!-- POST_LIST -->
    </div>
  </body>
</html>